/* App */
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}




/* Nav */

nav {
  background-color: aliceblue;
  opacity: 0.8;
  padding: 30px;
}

.pages {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size:xx-large;
  font-weight: bold;
  text-decoration: none;
  color: black
}

.link {
  margin:10px;
  text-decoration: none;
  color: black;
}

.page-links {
  margin-top: 10px;
}




/* Home */

.home-main {
  background: aliceblue;
  opacity: 0.8;
  margin: 100px;
  height: 100vh;
}

.home-main p {
  font-weight: bold;
}

.home-btn {
  width: 100px;
  height: 30;
  margin: 10px;
}

.btns-of-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .home-main {
    margin: 10%;
  }

  .home-btn {
    width: 20%;
    height: 10%;
    margin: 3%;
  }

}


