/* App */
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* General */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 30;
  margin: 10px;
  background: aliceblue;
  border: 2px solid #61aba1;
  border-radius: 5px;
  font-weight: bold;
  color: #61aba1
}

button:hover {
  background: #61aba1;
  color: aliceblue;
}

input {
  width: 450px;
}

select {
  width: 100px;
}


/* Nav */

nav {
  background-color: aliceblue;
  opacity: 0.8;
  padding: 30px;
}

.pages {
  display: flex;
  justify-content: space-between;
}


.title {
  font-size:xx-large;
  font-weight: bold;
  text-decoration: none;
  color: black
}

.title:hover {
  text-shadow: 2px 2px #61aba1;
}

.link {
  margin:10px;
  text-decoration: none;
  color: black;
}

.link:hover {
  font-weight: bold;
  text-shadow: 2px 2px #61aba1;
}

.page-links {
  margin-top: 10px;
}

/* Home */

.home-section {
  background: aliceblue;
  opacity: 0.8;
  margin: 100px;
  height: 100vh;
  padding: 100px;
}

.btns-of-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.resource{
  margin: 15px;
}

/* Materials */
.materials-page {
  background: aliceblue;
  opacity: 0.8;
  margin: 100px;
  height: 100%;
  padding:100px;
}

.material-div {
  border: 2px solid #61aba1;
  padding: 50px
}

.material-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
}

.material-link:hover {
  color: #61aba1;
}

.material-card {
  margin: 50px;
}

/* Stitches */
.stitches-page {
  background: aliceblue;
  opacity: 0.8;
  margin: 100px;
  height: 100vh;
}

/* Casts */
.casts-page {
  background: aliceblue;
  opacity: 0.8;
  margin: 100px;
  height: 100vh;
  
}

.cast-div {
  background-color: rgba(240, 248, 255, 0.97);
}

@media only screen and (max-width: 425px) {
  .home-section {
    margin: 10%;
  }

  .home-btn {
    width: 20%;
    height: 10%;
    margin: 3%;
  }

  .page-links {
    margin-top: 10%;
    margin-left: 10%;
  }

}


